.blog-section {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.blog-header {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-header h2 {
  font-size: 2rem;
  color: #333;
}

.blog-header p {
  font-size: 1rem;
  color: #555;
}

.view-posts-button {
  background-color: #e63946;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.view-posts-button:hover {
  background-color: #d62839;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.blog-card {
  background: #fff;
  overflow: hidden;
  transition: transform 0.3s;
}

.blog-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.blog-content {
  padding: 1rem;
}

.blog-category {
  font-size: 0.9rem;
  color: #e63946;
  text-transform: uppercase;
  font-weight: bold;
}

.blog-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0.5rem 0;
}

.blog-description {
  font-size: 1rem;
  color: #555;
}

.blog-author {
  display: flex;
  align-content: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}

.blog-author div {
  margin-top: 10px;
  margin-left: 5px;
}
