.logo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
  width: 100vw;
}

.banner-text {
  font-size: 16px;
  color: #7d7979;
  margin-bottom: 30px;
}

.logo-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.logo-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo-icon {
  width: 30px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-name {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 10px;
}

.logo-item:hover .logo-icon {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .banner-text {
    font-size: 13px;
  }

  .logo-icon {
    width: 20px;
  }
  .logo-item {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .logo-name {
    font-size: 12px;
  }
}
